body {
  background-color: black;
}

.center {
margin-right: auto;
margin-left: auto;
}

.textcenter {
  text-align: center;
  }

.content {
  background-color: white;
  border: 5px;
  border-color: black;
  padding: 10px;
  margin-top: 50px;
  max-width: 91.666667%;
  position: relative;
  z-index: 1;
}